body{
    padding: 0px;
    text-align: center;
    padding-left:  50px;
    padding-right: 50px;
}
    header{
    width: 100vw;
    height: 100px;
    background-color: #3a5981;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
table {
    border: 1px solid black;
    margin: 20px auto;
    text-align: center;
}
 table thead{
    background-color: black;
    color: white;
}
 table thead th{
    padding: 5px 20px;
    border: 1px solid white;
}
 table tbody tr:nth-child(even){
    background-color: rgb(187, 185, 185);
  }
   table tbody tr td{
    border: 1px solid black;
}
 table tr td:first-child{
    font-style: italic;
    background-color: #0C1821;
    color: white;
}
 table tr td:last-child{
    font-style: oblique;
}

@media (max-width : 720px) {
    body{
        padding-left: 10px;
    }
    table{
        width: 80vw;
        font-size: 18px;
    }
}